.spinner {
  border-radius: 50%;
  background-size: 100% 100%;
  margin: auto;
  width: 70px;
  height: 70px;
  transform: rotate(0deg);
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}